fastapi==0.110.0
uvicorn==0.29.0
python-multipart==0.0.9

numpy==1.24.3
opencv-python
pillow==10.2.0
scikit-learn==1.3.2
joblib==1.3.2
matplotlib

tensorflow-cpu==2.13.1
h5py==3.9.0
gdown
wikipedia
shap
